<%- include('templates/_head') -%>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MHVHCF8"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <main>
    <h1>
      <img
        src="/images/fv.png"
        class="fv-image"
        alt="人気のマットレス 6ブランド徹底比較"
      />
    </h1>
    <section id="section1">
      <p>
        今、話題の人気おすすめマットレスブランドをランキング形式で比較！
      </p>
      <p>
        当サイトで、ランキング化したマットレスブランドは、エアウィーブ、コアラマットレス、NELLマットレス、トゥルースリーパー、エマ・スリープ、Limneマットレスのマットレスブランド6個です。
        <span class="small-caption">
          ※全てのマットレスブランドをランキング化しているわけではなく、よく比較されている当社独自視点でのおすすめマットレスブランドを中心に選定しました。
        </span>
      </p>
      <p>
        これらのおすすめマットレスブランドは、シングル、セミダブル、ダブル、クイーン、キングとサイズ展開も豊富なものが多く、良い睡眠を実現したいというお客様のマットレス選びのお役にたてればと考えております。
      </p>
      <p>
        今回の6つのおすすめマットレスブランドの比較方法は、100名の睡眠に悩みを抱えている方に実際にマットレスを体験していただき、快適度など6つの項目をそれぞれ10点満点で評価していただきました。100名の中で年代別、体重別、職業別、性別でも傾向がわかりますので、是非あなたにぴったりなマットレスを見つけてください。
      </p>
      <p class="small-caption">
        ※当サイトは、(株)KMSが運営するおすすめマットレスランキングサイトです。 マットレス体験アンケートには、公平を期すため第三者の調査会社へ委託しております。
        <a href="https://sleepmattress-rank6.com/about.html" target="_blank">詳細はこちら</a>
      </p>
      <ul class="col col-2">
        <li class="col-item">
          <img src="/images/survey-image-1.jpg" />
          <p class="caption">100名によるマットレス体験会</p>
        </li>
        <li class="col-item">
          <img src="/images/survey-image-2.jpg" />
          <p class="caption">体験会を通したアンケート調査</p>
        </li>
      </ul>
    </section>

    <section>
      <h2>100名の体験調査をまとめた
        <br/>
          おすすめできるマットレスランキング
      </h2>
      <div class="rankingGrid">
        <div class="rankingGrid__container">
          <div class="rankingGrid__row rankingGrid__row--1">
            <h3 class="rankingGrid__title">
              <span><img src="/images/crown-1.svg"></span>
              リムネ<br/>マットレス
            </h3>
            <img src="/images/main-limne.jpg" class="rankingGrid__image">
          </div>
          <div class="rankingGrid__row rankingGrid__row--1">
            <h3 class="rankingGrid__title">
              <span><img src="/images/crown-2.svg"></span>
              コアラ<br/>マットレス
            </h3>
            <img src="/images/main-koala.jpg" class="rankingGrid__image">
          </div>
          <div class="rankingGrid__row rankingGrid__row--1">
            <h3 class="rankingGrid__title">
              <span><img src="/images/crown-3.svg"></span>
              エマスリープ
            </h3>
            <img src="/images/main-emma.jpg" class="rankingGrid__image">
          </div>
          <div class="rankingGrid__row rankingGrid__row--1">
            <h3 class="rankingGrid__title">
              <span>4位</span>
              NELL
            </h3>
            <img src="/images/main-nell.jpg" class="rankingGrid__image">
          </div>
          <div class="rankingGrid__row rankingGrid__row--1">
            <h3 class="rankingGrid__title">
              <span>5位</span>
              エアウィーヴ
            </h3>
            <img src="/images/main-airweave.jpg" class="rankingGrid__image">
          </div>
          <div class="rankingGrid__row rankingGrid__row--1">
            <h3 class="rankingGrid__title">
              <span>6位</span>
              トゥルー<br/>スリーパー
            </h3>
            <img src="/images/main-truesleeper.jpg" class="rankingGrid__image">
          </div>

          <!-- 総合平均点 -->
          <div class="rankingGrid__row rankingGrid_row--2">
            <dl>
              <dt class="rankingGrid__infoTitle">総合平均点</dt>
              <dd class="rankingGrid__infoValue">
                <div class="rankingGrid__point">
                  <span>8.11</span>/10
                </div>
              </dd>
            </dl>
          </div>
          <div class="rankingGrid__row rankingGrid_row--2">
            <dl>
              <dt class="rankingGrid__infoTitle">総合平均点</dt>
              <dd class="rankingGrid__infoValue">
                <div class="rankingGrid__point">
                  <span>7.63</span>/10
                </div>
              </dd>
            </dl>
          </div>
          <div class="rankingGrid__row rankingGrid_row--2">
            <dl>
              <dt class="rankingGrid__infoTitle">総合平均点</dt>
              <dd class="rankingGrid__infoValue">
                <div class="rankingGrid__point">
                  <span>7.23</span>/10
                </div>
              </dd>
            </dl>
          </div>
          <div class="rankingGrid__row rankingGrid_row--2">
            <dl>
              <dt class="rankingGrid__infoTitle">総合平均点</dt>
              <dd class="rankingGrid__infoValue">
                <div class="rankingGrid__point">
                  <span>6.65</span>/10
                </div>
              </dd>
            </dl>
          </div>
          <div class="rankingGrid__row rankingGrid_row--2">
            <dl>
              <dt class="rankingGrid__infoTitle">総合平均点</dt>
              <dd class="rankingGrid__infoValue">
                <div class="rankingGrid__point">
                  <span>5.12</span>/10
                </div>
              </dd>
            </dl>
          </div>
          <div class="rankingGrid__row rankingGrid_row--2">
            <dl>
              <dt class="rankingGrid__infoTitle">総合平均点</dt>
              <dd class="rankingGrid__infoValue">
                <div class="rankingGrid__point">
                  <span>5.04</span>/10
                </div>
              </dd>
            </dl>
          </div>

          <!-- 価格 -->
          <div class="rankingGrid__row rankingGrid_row--3">
            <dl>
              <dt class="rankingGrid__infoTitle">価格</dt>
              <dd class="rankingGrid__infoValue">
                <div class="rankingGrid__price">
                  <div>シングル</div>
                  <div>79,000円</div>
                  <div>セミダブル</div>
                  <div>89,900円</div>
                  <div>ダブル</div>
                  <div>99,000円</div>
                </div>
              </dd>
            </dl>
          </div>
          <div class="rankingGrid__row rankingGrid_row--3">
            <dl>
              <dt class="rankingGrid__infoTitle">価格</dt>
              <dd class="rankingGrid__infoValue">
                <div class="rankingGrid__price">
                  <div>シングル</div>
                  <div>69,000円</div>
                  <div>セミダブル</div>
                  <div>79,900円</div>
                  <div>ダブル</div>
                  <div>89,000円</div>
                  <div>クイーン</div>
                  <div>99,000円</div>
                </div>
              </dd>
            </dl>
          </div>
          <div class="rankingGrid__row rankingGrid_row--3">
            <dl>
              <dt class="rankingGrid__infoTitle">価格</dt>
              <dd class="rankingGrid__infoValue">
                <div class="rankingGrid__price">
                  <div>シングル</div>
                  <div>108,000円</div>
                  <div>セミダブル</div>
                  <div>120,000円</div>
                  <div>ダブル</div>
                  <div>132,000円</div>
                  <div>クイーン</div>
                  <div>144,000円</div>
                  <div>キング</div>
                  <div>156,000円</div>
                </div>
              </dd>
            </dl>
          </div>
          <div class="rankingGrid__row rankingGrid_row--3">
            <dl>
              <dt class="rankingGrid__infoTitle">価格</dt>
              <dd class="rankingGrid__infoValue">
                <div class="rankingGrid__price">
                  <div>シングル</div>
                  <div>75,000円</div>
                  <div>セミダブル</div>
                  <div>90,000円</div>
                  <div>ダブル</div>
                  <div>105,000円</div>
                  <div>クイーン</div>
                  <div>130,000円</div>
                  <div>キング</div>
                  <div>150,000円</div>
                </div>
              </dd>
            </dl>
          </div>
          <div class="rankingGrid__row rankingGrid_row--3">
            <dl>
              <dt class="rankingGrid__infoTitle">価格</dt>
              <dd class="rankingGrid__infoValue">
                <div class="rankingGrid__price">
                  <div>シングル</div>
                  <div>71,500円</div>
                  <div>セミダブル</div>
                  <div>85,800円</div>
                  <div>ダブル</div>
                  <div>100,100円</div>
                  <div>クイーン</div>
                  <div>114,400円</div>
                  <div>キング</div>
                  <div>128,700円</div>
                </div>
              </dd>
            </dl>
          </div>
          <div class="rankingGrid__row rankingGrid_row--3">
            <dl>
              <dt class="rankingGrid__infoTitle">価格</dt>
              <dd class="rankingGrid__infoValue">
                <div class="rankingGrid__price">
                  <div>シングル</div>
                  <div>27,280円</div>
                </div>
              </dd>
            </dl>
          </div>

          <!-- 特徴 -->
          <div class="rankingGrid__row rankingGrid_row--4">
            <dl>
              <dt class="rankingGrid__infoTitle">特徴</dt>
              <dd class="rankingGrid__infoValue">
                <ul class="rankingGrid__feature">
                  <li><i class="fa fa-check"></i>ウレタンマットレス</li>
                  <li><i class="fa fa-check"></i>睡眠学会理事推奨</li>
                  <li><i class="fa fa-check"></i>120日間返品無料</li>
                  <li><i class="fa fa-check"></i>無金利分割決済</li>
                </ul>
              </dd>
            </dl>
          </div>
          <div class="rankingGrid__row rankingGrid_row--4">
            <dl>
              <dt class="rankingGrid__infoTitle">特徴</dt>
              <dd class="rankingGrid__infoValue">
                <ul class="rankingGrid__feature">
                  <li><i class="fa fa-check"></i>ウレタンマットレス</li>
                  <li><i class="fa fa-check"></i>抜群の振動吸収性</li>
                  <li><i class="fa fa-check"></i>120日間返品無料</li>
                  <li><i class="fa fa-check"></i>品質10年保証</li>
                </ul>
              </dd>
            </dl>
          </div>
          <div class="rankingGrid__row rankingGrid_row--4">
            <dl>
              <dt class="rankingGrid__infoTitle">特徴</dt>
              <dd class="rankingGrid__infoValue">
                <ul class="rankingGrid__feature">
                  <li><i class="fa fa-check"></i>ウレタンマットレス</li>
                  <li><i class="fa fa-check"></i>100日間返品無料</li>
                  <li><i class="fa fa-check"></i>返品送料無料</li>
                  <li><i class="fa fa-check"></i>品質10年保証</li>
                </ul>
              </dd>
            </dl>
          </div>
          <div class="rankingGrid__row rankingGrid_row--4">
            <dl>
              <dt class="rankingGrid__infoTitle">特徴</dt>
              <dd class="rankingGrid__infoValue">
                <ul class="rankingGrid__feature">
                  <li><i class="fa fa-check"></i>コイルマットレス</li>
                  <li><i class="fa fa-check"></i>寝返りに特化</li>
                  <li><i class="fa fa-check"></i>120日間返品無料</li>
                  <li><i class="fa fa-check"></i>品質10年保証</li>
                </ul>
              </dd>
            </dl>
          </div>
          <div class="rankingGrid__row rankingGrid_row--4">
            <dl>
              <dt class="rankingGrid__infoTitle">特徴</dt>
              <dd class="rankingGrid__infoValue">
                <ul class="rankingGrid__feature">
                  <li><i class="fa fa-check"></i>マットレストッパー</li>
                  <li><i class="fa fa-check"></i>丸ごと洗濯可能</li>
                  <li><i class="fa fa-check"></i>30日間返品無料</li>
                  <li><i class="fa fa-check"></i>品質3年保証</li>
                </ul>
              </dd>
            </dl>
          </div>
          <div class="rankingGrid__row rankingGrid_row--4">
            <dl>
              <dt class="rankingGrid__infoTitle">特徴</dt>
              <dd class="rankingGrid__infoValue">
                <ul class="rankingGrid__feature">
                  <li><i class="fa fa-check"></i>高反発マットレス</li>
                  <li><i class="fa fa-check"></i>水洗い可能</li>
                  <li><i class="fa fa-check"></i>60日間返品無料</li>
                  <li><i class="fa fa-check"></i>1年間の交換保証</li>
                </ul>
              </dd>
            </dl>
          </div>

          <!-- こだわり -->
          <div class="rankingGrid__row rankingGrid_row--5">
            <dl>
              <dt class="rankingGrid__infoTitle">こだわり</dt>
              <dd class="rankingGrid__infoValue">
                <p class="rankingGrid__description">
                  睡眠時の体や心のリラックス性を追求したマットレス。独自素材スフエアーを加えた三層構造により理想的な寝姿勢がとれ、睡眠時の体への普段軽減に役立ちます。
                </p>
              </dd>
            </dl>
          </div>
          <div class="rankingGrid__row rankingGrid_row--5">
            <dl>
              <dt class="rankingGrid__infoTitle">こだわり</dt>
              <dd class="rankingGrid__infoValue">
                <p class="rankingGrid__description">
                  SNSで話題になったワイングラスチャレンジでわかる通りの振動吸収性。表参道にショールームがあり、そこでは、マットレス以外にも枕やソファの体験ができます。
                </p>
              </dd>
            </dl>
          </div>
          <div class="rankingGrid__row rankingGrid_row--5">
            <dl>
              <dt class="rankingGrid__infoTitle">こだわり</dt>
              <dd class="rankingGrid__infoValue">
                <p class="rankingGrid__description">
                  世界最高水準の安全な繊維製品の証、「OEKO-TEX（エコ・テックス） STANDARD100」を認証取得。3層構造のマットレスで、背骨をしっかり支えることができます。
                </p>
              </dd>
            </dl>
          </div>
          <div class="rankingGrid__row rankingGrid_row--5">
            <dl>
              <dt class="rankingGrid__infoTitle">こだわり</dt>
              <dd class="rankingGrid__infoValue">
                <p class="rankingGrid__description">
                  高級ホテルで使われるマットレスの2倍以上のコイル数を使用。寝返りのしやすさを科学し、追求したマットレス。Instagramでも話題に上がっており、口コミ人気の高いマットレスです。
                </p>
              </dd>
            </dl>
          </div>
          <div class="rankingGrid__row rankingGrid_row--5">
            <dl>
              <dt class="rankingGrid__infoTitle">こだわり</dt>
              <dd class="rankingGrid__infoValue">
                <p class="rankingGrid__description">
                  表と裏を切り替えることで、夏用と冬用を兼ねたマットレス トッパー。また、独自素材エアファイバーは、身体を支え、体圧を分散してくれるため、睡眠時の体への負担軽減に役立ちます。
                </p>
              </dd>
            </dl>
          </div>
          <div class="rankingGrid__row rankingGrid_row--5">
            <dl>
              <dt class="rankingGrid__infoTitle">こだわり</dt>
              <dd class="rankingGrid__infoValue">
                <p class="rankingGrid__description">
                  水洗いができる素材で一年中清潔に使用することができるマットレス トッパー。メッシュ地の「エアブリッド」と、硬わた素材の「ファイバーブリッド」からなる2層構造で夏と冬で使い分けができます。
                </p>
              </dd>
            </dl>
          </div>

        <!-- メニュー -->
          <div class="rankingGrid__row rankingGrid_row--5">
            <dl>
              <dt class="rankingGrid__infoTitle">メニュー</dt>
              <dd class="rankingGrid__infoValue">
                <div class="rankingGrid__link">
                  <span name="limne" class="rankingGrid__button ranking-button">商品情報を見る</span>
                  <a href="https://limne.jp/products/limne-the-mattress?utm_source=a8net&utm_medium=affiliate&utm_id=product&utm_content=mattress-affiliate&_acr=a0aee7d69a638f6cc9897201cd893d86&_acreqid=a8a099c7-805a-4bcf-aa5b-0fa1b9787fda" rel="nofollow" class="rankingGrid__button rankingGrid__button--outline">販売サイトを見る</a>
                </div>
              </dd>
            </dl>
          </div>
          <div class="rankingGrid__row rankingGrid_row--5">
            <dl>
              <dt class="rankingGrid__infoTitle">メニュー</dt>
              <dd class="rankingGrid__infoValue">
                <div class="rankingGrid__link">
                  <span name="koala" class="rankingGrid__button ranking-button">商品情報を見る</span>
                  <a href="https://item.rakuten.co.jp/koalasleep/101-0035/?scid=af_pc_etc&sc2id=af_101_0_0" rel="nofollow" class="rankingGrid__button rankingGrid__button--outline">販売サイトを見る</a>
                </div>
              </dd>
            </dl>
          </div>
          <div class="rankingGrid__row rankingGrid_row--5">
            <dl>
              <dt class="rankingGrid__infoTitle">メニュー</dt>
              <dd class="rankingGrid__infoValue">
                <div class="rankingGrid__link">
                  <span name="emma" class="rankingGrid__button ranking-button">商品情報を見る</span>
                  <a href="https://www.amazon.co.jp/%E3%82%A8%E3%83%9E%E3%83%BB%E3%82%B9%E3%83%AA%E3%83%BC%E3%83%97-%E3%83%9E%E3%83%83%E3%83%88%E3%83%AC%E3%82%B9-%E5%AF%9D%E8%BF%94%E3%82%8A%E6%A5%BD%E3%80%85-%E6%B4%97%E3%81%88%E3%82%8B%E3%82%AB%E3%83%90%E3%83%BC-%E3%83%99%E3%83%83%E3%83%89%E3%83%BB%E3%83%9E%E3%83%83%E3%83%88%E3%83%AC%E3%82%B9/dp/B08WPCWR26?__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&crid=10RLWJCU3AT37&keywords=%E3%83%9E%E3%83%83%E3%83%88%E3%83%AC%E3%82%B9&qid=1682918230&sprefix=%E3%83%9E%E3%83%83%E3%83%88%E3%83%AC%E3%82%B9,aps,155&sr=8-2-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUEzSUhaSExYR0EyRVhZJmVuY3J5cHRlZElkPUEwMjA1NjM2Rk42SVU3SzJNRU9OJmVuY3J5cHRlZEFkSWQ9QTJDME5VVlJBTjVKSUomd2lkZ2V0TmFtZT1zcF9hdGYmYWN0aW9uPWNsaWNrUmVkaXJlY3QmZG9Ob3RMb2dDbGljaz10cnVl&linkCode=sl1&tag=kmsmattress-22&linkId=c13089d3df68c53b470a112b67133e56&language=ja_JP&ref_=as_li_ss_tl" rel="nofollow" class="rankingGrid__button rankingGrid__button--outline">販売サイトを見る</a>
                </div>
              </dd>
            </dl>
          </div>
          <div class="rankingGrid__row rankingGrid_row--5">
            <dl>
              <dt class="rankingGrid__infoTitle">メニュー</dt>
              <dd class="rankingGrid__infoValue">
                <div class="rankingGrid__link">
                  <span name="nell" class="rankingGrid__button ranking-button">商品情報を見る</span>
                  <a href="https://nell.life/lp_trial_a?route=a8&utm_source=a8&utm_medium=affiliate&utm_campaign=all&a8=jut1lu0Wi.HWZ-nAtR2-oX2a0XXkeXeWZR2Py-3H-A7Wi.tuZUtVYrtW2.YaDaMemAcUnstVmut18s00000021302001" rel="nofollow" class="rankingGrid__button rankingGrid__button--outline">販売サイトを見る</a>
                </div>
              </dd>
            </dl>
          </div>
          <div class="rankingGrid__row rankingGrid_row--5">
            <dl>
              <dt class="rankingGrid__infoTitle">メニュー</dt>
              <dd class="rankingGrid__infoValue">
                <div class="rankingGrid__link">
                  <span name="airweave" class="rankingGrid__button ranking-button">商品情報を見る</span>
                  <a href="https://item.rakuten.co.jp/airweave/0001/?scid=af_pc_etc&sc2id=af_101_0_0" rel="nofollow" class="rankingGrid__button rankingGrid__button--outline">販売サイトを見る</a>
                </div>
              </dd>
            </dl>
          </div>
          <div class="rankingGrid__row rankingGrid_row--5">
            <dl>
              <dt class="rankingGrid__infoTitle">メニュー</dt>
              <dd class="rankingGrid__infoValue">
                <div class="rankingGrid__link">
                  <span name="truesleeper" class="rankingGrid__button ranking-button">商品情報を見る</span>
                  <a href="https://www.shopjapan.co.jp/products/TRCE-00000/?af_id=10LINK-H08&utm_source=kakakucom&utm_medium=afc&utm_content=Sleep&utm_term=NON&utm_campaign=bau&sjmda=dgst" rel="nofollow" class="rankingGrid__button rankingGrid__button--outline">販売サイトを見る</a>
                </div>
              </dd>
            </dl>
          </div>
        </div>
      </div>
      <div class="scroll">
        <i class="fa fa-arrows-left-right"></i>
        左右にスクロールできます
      </div>
    </section>

    <section id="section2">
      <h2>睡眠や整体のプロ5名による監修</h2>
      <ul class="expert-list">
        <li class="expert-item">
          <img src="/images/icon-nakatomi.png" />
          <p class="caption">
            <span>認定エステティシャン／セラピスト</span>
            中冨先生
          </p>
        </li>
        <li class="expert-item">
          <img src="/images/icon-kimura.png" />
          <p class="caption">
            <span>鍼灸あん摩マッサージ指圧師</span>
            木村先生
          </p>
        </li>

        <li class="expert-item">
          <img src="/images/icon-koshiishi.png" />
          <p class="caption">
            <span>こしいし整体院 院長<br />鍼灸師・柔道整復師</span>
            輿石先生
          </p>
        </li>

        <li class="expert-item">
          <img src="/images/icon-masaki.png" />
          <p class="caption">
            <span>改眠マスターセラピスト<br />sleeplus代官山</span>
            政木先生
          </p>
        </li>

        <li class="expert-item">
          <img src="/images/icon-natsuyama.png" />
          <p class="caption">
            <span>医師<br />（副院長・整形外科部長）</span>
            夏山先生
          </p>
        </li>

      </ul>
    </section>

    <section id="section3">
      <h2>入眠するまでの人体のメカニズム</h2>
      <div class="mechanism-image">
        <img src="/images/mechanism-image.png" />
        <p class="quote">参照：https://digitalpr.jp/r/1039910399</p>
      </div>
      <p>
        交感神経は朝に働きはじめ、昼過ぎにピークを迎えます。一方、リラックスしているときに働く副交感神経は、日没頃から活発になり、睡眠中にピークを迎えます。そのため、スムーズな入眠にはベッドに入った際にリラックスすることができているかが重要になります。
      </p>
      <p>
        ベッドに入る際にリラックスしている状態を感じられるかは、マットレスの肌触りや横になった際に体への負担を感じにくいかの他にも適切な室温にすることや、リラックス効果のあるアロマを炊いたりと様々な方法があります。
      </p>
      <p>
        今回の調査では、マットレスに着目して、リラックスした状態を感じられるおすすめのマットレスのランキングをご紹介していきます。
      </p>
    </section>

    <section id="section4">
      <h2>
        寝心地がいいと感じる
        <br />
        マットレスは？
      </h2>
      <p>100人の方に実際に寝て体感してもらいました！</p>
      <img src="/images/survey-image-3.jpg" />
      <p>
        エマスリープ、NELL、Limne、トゥルースリーパー、コアラマットレス、エアウィーブのマットレスを名前を隠した状態で体験してもらいアンケート調査
      </p>
      <!-- <h3 class="emphasis-sentence">
        20名の方から睡眠ログを提供いただき、実際の睡眠の快適度合いを調査
      </h3>
      <img src="/images/dummy.png" /> -->
    </section>

    <section id="section5">
      <h2>
        人気のマットレスランキング
      </h2>
      <div class="ranking">
        <div class="grid-container">
          <div class="grid-header">
            <div>順位</div>
            <div>商品名</div>
            <div>快適度</div>
            <div>気持ち良さ</div>
            <div>負担の少なさ</div>
            <div>寝返り</div>
            <div>脱力感</div>
            <div>通気性</div>
            <div>総平均値</div>
          </div>
        </div>
        <div class="grid-row">
          <div class="icon-no1">1</div>
          <div>Limne（リムネ）</div>
          <div>8.38</div>
          <div>8.3</div>
          <div>8.26</div>
          <div>7.97</div>
          <div>8.4</div>
          <div>7.35</div>
          <div>8.11</div>
        </div>
        <div class="grid-row">
          <div class="icon-no2">2</div>
          <div>コアラマットレス</div>
          <div>7.98</div>
          <div>7.88</div>
          <div>7.62</div>
          <div>7.61</div>
          <div>7.57</div>
          <div>7.1</div>
          <div>7.63</div>
        </div>
        <div class="grid-row">
          <div class="icon-no3">3</div>
          <div>エマスリープ</div>
          <div>7.53</div>
          <div>7.48</div>
          <div>7.21</div>
          <div>7.21</div>
          <div>7.25</div>
          <div>6.71</div>
          <div>7.23</div>
        </div>
        <div class="grid-row">
          <div>4</div>
          <div>NELL</div>
          <div>6.84</div>
          <div>6.8</div>
          <div>6.7</div>
          <div>6.74</div>
          <div>6.68</div>
          <div>6.14</div>
          <div>6.65</div>
        </div>
        <div class="grid-row">
          <div>5</div>
          <div>エアウィーヴ</div>
          <div>5.41</div>
          <div>5.13</div>
          <div>5.01</div>
          <div>5.15</div>
          <div>4.82</div>
          <div>5.18</div>
          <div>5.12</div>
        </div>
        <div class="grid-row">
          <div>6</div>
          <div>トゥルースリーパー</div>
          <div>5.08</div>
          <div>4.89</div>
          <div>5.00</div>
          <div>5.12</div>
          <div>4.65</div>
          <div>5.50</div>
          <div>5.04</div>
        </div>
      </div>
      <div class="scroll">
        <i class="fa fa-arrows-left-right"></i>
        左右にスクロールできます
      </div>
    </section>

    <section id="search-section" class="search-section">
      <h2>
        体験者の属性別ランキングを検索する
      </h2>
      <h3 class="emphasis-sentence">
        <span>
          性別、年代、体重、職業でランキング！
        </span>
        気になる属性でマットレスを検索！
      </h3>

      <a id="search-float" class="search-float">
        <i class="fa fa-search"></i>
        <span>検索する</span>
      </a>
      
      <div class="search-options">
        <div class="option-box">
          <div class="option-name">性別から探す</div>
          <form class="option-inner" id="form-sex">
            <ul class="options">
              <li>
                <input class="search-option-input" type="radio" id="option-male" name="sex" value="male">
                <label for="option-male" class="option-label"><i class="fa fa-check"></i>男性</label>
              </li>
              <li>
                <input class="search-option-input" type="radio" id="option-female" name="sex" value="female">
                <label for="option-female" class="option-label"><i class="fa fa-check"></i>女性</label>
              </li>
            </ul>
            <div name="sex" id="check-sex" type="submit" class="search-button">
              <i class="fa fa-search"></i>検索
            </div>
          </form>
        </div>

        <div class="option-box">
          <div class="option-name">年代から探す</div>
          <form class="option-inner" id="form-old">
            <ul class="options">
              <li>
                <input class="search-option-input" type="radio" id="option-18old" name="old" value="18old">
                <label for="option-18old" class="option-label"><i class="fa fa-check"></i>18歳〜</label>
              </li>
              <li>
                <input class="search-option-input" type="radio" id="option-20old" name="old" value="20old">
                <label for="option-20old" class="option-label"><i class="fa fa-check"></i>20歳〜</label>
              </li>
              <li>
                <input class="search-option-input" type="radio" id="option-30old" name="old" value="30old">
                <label for="option-30old" class="option-label"><i class="fa fa-check"></i>30歳〜</label>
              </li>
              <li>
                <input class="search-option-input" type="radio" id="option-40old" name="old" value="40old">
                <label for="option-40old" class="option-label"><i class="fa fa-check"></i>40歳〜</label>
              </li>
              <li>
                <input class="search-option-input" type="radio" id="option-50old" name="old" value="50old">
                <label for="option-50old" class="option-label"><i class="fa fa-check"></i>50歳〜</label>
              </li>
              <li>
                <input class="search-option-input" type="radio" id="option-60old" name="old" value="60old">
                <label for="option-60old" class="option-label"><i class="fa fa-check"></i>60歳〜</label>
              </li>              
            </ul>
            <div name="old" id="check-old" type="submit" class="search-button">
              <i class="fa fa-search"></i>検索
            </div>
          </form>
        </div>

        <div class="option-box">
          <div class="option-name">体重から探す</div>
          <form class="option-inner" id="form-weight">
            <ul class="options">
              <li>
                <input class="search-option-input" type="radio" id="option-40kg" name="weight" value="40kg">
                <label for="option-40kg" class="option-label"><i class="fa fa-check"></i>〜40kg</label>
              </li>
              <li>
                <input class="search-option-input" type="radio" id="option-50kg" name="weight" value="50kg">
                <label for="option-50kg" class="option-label"><i class="fa fa-check"></i>40kg~50kg</label>
              </li>
              <li>
                <input class="search-option-input" type="radio" id="option-60kg" name="weight" value="60kg">
                <label for="option-60kg" class="option-label"><i class="fa fa-check"></i>50kg~60kg</label>
              </li>
              <li>
                <input class="search-option-input" type="radio" id="option-70kg" name="weight" value="70kg">
                <label for="option-70kg" class="option-label"><i class="fa fa-check"></i>60kg~70kg</label>
              </li>
              <li>
                <input class="search-option-input" type="radio" id="option-71kg" name="weight" value="71kg">
                <label for="option-71kg" class="option-label"><i class="fa fa-check"></i>71kg〜</label>
              </li>           
            </ul>
            <div name="weight" id="check-weight" type="submit" class="search-button">
              <i class="fa fa-search"></i>検索
            </div>
          </form>
        </div>

        <div class="option-box">
          <div class="option-name">職業から探す</div>
          <form class="option-inner" id="form-work">
            <ul class="options">
              <li>
                <input class="search-option-input" type="radio" id="option-sales" name="work" value="sales">
                <label for="option-sales" class="option-label"><i class="fa fa-check"></i>営業職</label>
              </li>
              <li>
                <input class="search-option-input" type="radio" id="option-desk-work" name="work" value="desk-work">
                <label for="option-desk-work" class="option-label"><i class="fa fa-check"></i>デスクワーク職</label>
              </li>
              <li>
                <input class="search-option-input" type="radio" id="option-service" name="work" value="service">
                <label for="option-service" class="option-label"><i class="fa fa-check"></i>サービス職</label>
              </li>
              <li>
                <input class="search-option-input" type="radio" id="option-healthcare" name="work" value="healthcare">
                <label for="option-healthcare" class="option-label"><i class="fa fa-check"></i>医療従事者・<br/>整体師</label>
              </li>
            </ul>
            <div name="work" id="check-work" type="submit" class="search-button">
              <i class="fa fa-search"></i>検索
            </div>
          </form>
        </div>
      </div>

    </section>

    
    <!-- 男性 -->
    <section id="male" class="item-section">
      <h2>
        男性に<br/>
        おすすめのマットレスは？
      </h2>

      <div class="item-info-wrapper">
        <p class="item-rank no1">ランキング1位</p>

        <%- include('templates/_limne') -%>
      </div>

      <div class="item-info-wrapper">
        <p class="item-rank no2">ランキング2位</p>
        <%- include('templates/_koala') -%>
      </div>

      <div class="item-info-wrapper">
        <p class="item-rank no3">ランキング3位</p>
        <%- include('templates/_emma') -%>
      </div>

    </section>

    <!-- 女性 -->
    <section id="female" class="item-section">
      <h2>
        女性に<br/>
        おすすめのマットレスは？
      </h2>

      <div class="item-info-wrapper">
        <p class="item-rank no1">ランキング1位</p>

        <%- include('templates/_limne') -%>
      </div>

      <div class="item-info-wrapper">
        <p class="item-rank no2">ランキング2位</p>
        <%- include('templates/_koala') -%>
      </div>

      <div class="item-info-wrapper">
        <p class="item-rank no3">ランキング3位</p>
        <%- include('templates/_emma') -%>
      </div>
    </section>

    <!-- 18歳〜 -->
    <section id="18old" class="item-section">
      <h2>
        18歳以上の方に<br/>
        おすすめのマットレスは？
      </h2>

      <div class="item-info-wrapper">
        <p class="item-rank no1">ランキング1位</p>

        <%- include('templates/_limne') -%>
      </div>

      <div class="item-info-wrapper">
        <p class="item-rank no2">ランキング2位</p>
        <%- include('templates/_emma') -%>
      </div>

      <div class="item-info-wrapper">
        <p class="item-rank no3">ランキング3位</p>
        <%- include('templates/_koala') -%>
      </div>
    </section>

    <!-- 20歳〜 -->
    <section id="20old" class="item-section">
      <h2>
        20歳以上の方に<br/>
        おすすめのマットレスは？
      </h2>

      <div class="item-info-wrapper">
        <p class="item-rank no1">ランキング1位</p>

        <%- include('templates/_limne') -%>
      </div>

      <div class="item-info-wrapper">
        <p class="item-rank no2">ランキング2位</p>
        <%- include('templates/_koala') -%>
      </div>

      <div class="item-info-wrapper">
        <p class="item-rank no3">ランキング3位</p>
        <%- include('templates/_emma') -%>
      </div>
    </section>
  
    <!-- 30歳〜 -->
    <section id="30old" class="item-section">
      <h2>
        30歳以上の方に<br/>
        おすすめのマットレスは？
      </h2>

      <div class="item-info-wrapper">
        <p class="item-rank no1">ランキング1位</p>

        <%- include('templates/_limne') -%>
      </div>

      <div class="item-info-wrapper">
        <p class="item-rank no2">ランキング2位</p>
        <%- include('templates/_koala') -%>
      </div>

      <div class="item-info-wrapper">
        <p class="item-rank no3">ランキング3位</p>
        <%- include('templates/_emma') -%>
      </div>
    </section>

    <!-- 40歳〜 -->
    <section id="40old" class="item-section">
      <h2>
        40歳以上の方に<br/>
        おすすめのマットレスは？
      </h2>

      <div class="item-info-wrapper">
        <p class="item-rank no1">ランキング1位</p>

        <%- include('templates/_limne') -%>
      </div>

      <div class="item-info-wrapper">
        <p class="item-rank no2">ランキング2位</p>
        <%- include('templates/_koala') -%>
      </div>

      <div class="item-info-wrapper">
        <p class="item-rank no3">ランキング3位</p>
        <%- include('templates/_emma') -%>
      </div>
    </section>

    <!-- 50歳〜 -->
    <section id="50old" class="item-section">
      <h2>
        50歳以上の方に<br/>
        おすすめのマットレスは？
      </h2>

      <div class="item-info-wrapper">
        <p class="item-rank no1">ランキング1位</p>

        <%- include('templates/_limne') -%>
      </div>

      <div class="item-info-wrapper">
        <p class="item-rank no2">ランキング2位</p>
        <%- include('templates/_nell') -%>
      </div>

      <div class="item-info-wrapper">
        <p class="item-rank no3">ランキング3位</p>
        <%- include('templates/_emma') -%>
      </div>
    </section>

    <!-- 60歳〜 -->
    <section id="60old" class="item-section">
      <h2>
        60歳以上の方に<br/>
        おすすめのマットレスは？
      </h2>

      <div class="item-info-wrapper">
        <p class="item-rank no1">ランキング1位</p>

        <%- include('templates/_koala') -%>
      </div>

      <div class="item-info-wrapper">
        <p class="item-rank no2">ランキング2位</p>
        <%- include('templates/_limne') -%>
      </div>

      <div class="item-info-wrapper">
        <p class="item-rank no3">ランキング3位</p>
        <%- include('templates/_nell') -%>
      </div>
    </section>

    <!-- ~40kg -->
    <section id="40kg" class="item-section">
      <h2>
        40kg以下の方に<br/>
        おすすめのマットレスは？
      </h2>

      <div class="item-info-wrapper">
        <p class="item-rank no1">ランキング1位</p>

        <%- include('templates/_limne') -%>
      </div>

      <div class="item-info-wrapper">
        <p class="item-rank no2">ランキング2位</p>
        <%- include('templates/_emma') -%>
      </div>

      <div class="item-info-wrapper">
        <p class="item-rank no3">ランキング3位</p>
        <%- include('templates/_koala') -%>
      </div>
    </section>

    <!-- 50kg -->
    <section id="50kg" class="item-section">
      <h2>
        40kg~50kgの方に<br/>
        おすすめのマットレスは？
      </h2>

      <div class="item-info-wrapper">
        <p class="item-rank no1">ランキング1位</p>

        <%- include('templates/_limne') -%>
      </div>

      <div class="item-info-wrapper">
        <p class="item-rank no2">ランキング2位</p>
        <%- include('templates/_koala') -%>
      </div>

      <div class="item-info-wrapper">
        <p class="item-rank no3">ランキング3位</p>
        <%- include('templates/_emma') -%>
      </div>
    </section>

    <!-- 60kg -->
    <section id="60kg" class="item-section">
      <h2>
        50kg~60kgの方に<br/>
        おすすめのマットレスは？
      </h2>

      <div class="item-info-wrapper">
        <p class="item-rank no1">ランキング1位</p>

        <%- include('templates/_limne') -%>
      </div>

      <div class="item-info-wrapper">
        <p class="item-rank no2">ランキング2位</p>
        <%- include('templates/_koala') -%>
      </div>

      <div class="item-info-wrapper">
        <p class="item-rank no3">ランキング3位</p>
        <%- include('templates/_emma') -%>
      </div>
    </section>

    <!-- 70kg -->
    <section id="70kg" class="item-section">
      <h2>
        60kg~70kgの方に<br/>
        おすすめのマットレスは？
      </h2>

      <div class="item-info-wrapper">
        <p class="item-rank no1">ランキング1位</p>

        <%- include('templates/_limne') -%>
      </div>

      <div class="item-info-wrapper">
        <p class="item-rank no2">ランキング2位</p>
        <%- include('templates/_koala') -%>
      </div>

      <div class="item-info-wrapper">
        <p class="item-rank no3">ランキング3位</p>
        <%- include('templates/_emma') -%>
      </div>
    </section>

    <!-- 71kg -->
    <section id="71kg" class="item-section">
      <h2>
        71kg以上の方に<br/>
        おすすめのマットレスは？
      </h2>

      <div class="item-info-wrapper">
        <p class="item-rank no1">ランキング1位</p>

        <%- include('templates/_limne') -%>
      </div>

      <div class="item-info-wrapper">
        <p class="item-rank no2">ランキング2位</p>
        <%- include('templates/_koala') -%>
      </div>

      <div class="item-info-wrapper">
        <p class="item-rank no3">ランキング3位</p>
        <%- include('templates/_emma') -%>
      </div>
    </section>

    <!-- 営業職 -->
    <section id="sales" class="item-section">
      <h2>
        営業職の方に<br/>
        おすすめのマットレスは？
      </h2>

      <div class="item-info-wrapper">
        <p class="item-rank no1">ランキング1位</p>

        <%- include('templates/_limne') -%>
      </div>

      <div class="item-info-wrapper">
        <p class="item-rank no2">ランキング2位</p>
        <%- include('templates/_koala') -%>
      </div>

      <div class="item-info-wrapper">
        <p class="item-rank no3">ランキング3位</p>
        <%- include('templates/_emma') -%>
      </div>
    </section>

    <!-- デスクワーク職 -->
    <section id="desk-work" class="item-section">
      <h2>
        デスクワーク職の方に<br/>
        おすすめのマットレスは？
      </h2>

      <div class="item-info-wrapper">
        <p class="item-rank no1">ランキング1位</p>

        <%- include('templates/_limne') -%>
      </div>

      <div class="item-info-wrapper">
        <p class="item-rank no2">ランキング2位</p>
        <%- include('templates/_koala') -%>
      </div>

      <div class="item-info-wrapper">
        <p class="item-rank no3">ランキング3位</p>
        <%- include('templates/_nell') -%>
      </div>
    </section>

    <!-- サービス職 -->
    <section id="service" class="item-section">
      <h2>
        サービス職の方に<br/>
        おすすめのマットレスは？
      </h2>

      <div class="item-info-wrapper">
        <p class="item-rank no1">ランキング1位</p>

        <%- include('templates/_limne') -%>
      </div>

      <div class="item-info-wrapper">
        <p class="item-rank no2">ランキング2位</p>
        <%- include('templates/_koala') -%>
      </div>

      <div class="item-info-wrapper">
        <p class="item-rank no3">ランキング3位</p>
        <%- include('templates/_emma') -%>
      </div>
    </section>

    <!-- 医療従事者・整体師 -->
    <section id="healthcare" class="item-section">
      <h2>
        医療従事者・整体師の方に<br/>
        おすすめのマットレスは？
      </h2>

      <div class="item-info-wrapper">
        <p class="item-rank no1">ランキング1位</p>

        <%- include('templates/_limne') -%>
      </div>

      <div class="item-info-wrapper">
        <p class="item-rank no2">ランキング2位</p>
        <%- include('templates/_koala') -%>
      </div>

      <div class="item-info-wrapper">
        <p class="item-rank no3">ランキング3位</p>
        <%- include('templates/_emma') -%>
      </div>
    </section>


    <!-- 総合 -->
    <section class="item-section all">
      <h2>
        マットレス総合ランキング
      </h2>

      <div id="all-ranking-limne" class="item-info-wrapper">
        <p class="item-rank no1">ランキング1位</p>

        <%- include('templates/_limne') -%>
      </div>

      <div id="all-ranking-koala" class="item-info-wrapper">
        <p class="item-rank no2">ランキング2位</p>
        <%- include('templates/_koala') -%>
      </div>

      <div id="all-ranking-emma" class="item-info-wrapper">
        <p class="item-rank no3">ランキング3位</p>
        <%- include('templates/_emma') -%>
      </div>

      <div id="all-ranking-nell" class="item-info-wrapper">
        <p class="item-rank">ランキング4位</p>
        <%- include('templates/_nell') -%>
      </div>

      <div id="all-ranking-airweave" class="item-info-wrapper">
        <p class="item-rank">ランキング5位</p>
        <%- include('templates/_airweave') -%>
      </div>

      <div id="all-ranking-truesleeper" class="item-info-wrapper">
        <p class="item-rank">ランキング6位</p>
        <%- include('templates/_truesleeper') -%>
      </div>

    </section>

    <section>
      <h2>筆者による総評</h2>
        <div class="item-image">
          <img src="/images/main-limne.jpg" />
        </div>
      <p>
        リラックスした状態になれる寝心地の良いマットレスで夜を過ごしたい方は、<b>Limne（リムネ）マットレス</b>に決まり！
        <br />
        <br />
        トップ層へ新素材スフエアをおき、肌触りの良さを、ミドル層では、肩・お尻・ふくらはぎ~かかとの3ヶ所に格子状の沈み込み部分を用意することで体の凹凸にフィットする理想的な睡眠姿勢を生み出し、ボトム層では上位2層の機能を十分に発揮させる硬めのウレタンを採用。さらに溝加工を施すことで通気性を良くし湿気対策を行っている<b>Limne（リムネ）マットレス</b>。
        <br />
        <br />
        属性別の結果からもわかるように老若男女、様々な体重や職業の方だけでなく権威者の方からも高評価を受けた品質の良いマットレスです。
      </p>
      <div class="cv-buttons">
        <a href="https://px.a8.net/svt/ejp?a8mat=3T8FRT+P086Q+4VLO+5ZMCI" rel="nofollow" class="outline-button">
          公式サイトで商品情報を見る
        </a>
        <a href="https://hb.afl.rakuten.co.jp/ichiba/31d8db13.430c5d10.31d8db14.fe17bd16/?pc=https%3A%2F%2Fitem.rakuten.co.jp%2Flimne%2Fv_41923043524792%2F&link_type=hybrid_url&ut=eyJwYWdlIjoiaXRlbSIsInR5cGUiOiJoeWJyaWRfdXJsIiwic2l6ZSI6IjI0MHgyNDAiLCJuYW0iOjEsIm5hbXAiOiJyaWdodCIsImNvbSI6MSwiY29tcCI6ImRvd24iLCJwcmljZSI6MSwiYm9yIjoxLCJjb2wiOjEsImJidG4iOjEsInByb2QiOjAsImFtcCI6ZmFsc2V9" class="outline-button">
          楽天で商品情報を見る
        </a>
        <a href="https://amzn.to/3HtSRn7" class="outline-button">
          Amazonで商品情報を見る
        </a>
      </div>
    </section>

  </main>
  <%- include('templates/_footer') -%>
</body>

<script>
  window.onload = function () {
    const checkButton = document.getElementsByClassName('search-button');

    // 検索処理
    for (i = 0; i < checkButton.length; i++) {
      checkButton[i].addEventListener('click', function () {
        const buttonName = this.getAttribute('name');
        const searchForm = document.getElementById(`form-${buttonName}`);
        const radioNodeList = searchForm.elements[buttonName];
        const checkValue = radioNodeList.value;
        
        const targetSection = document.getElementById(checkValue);
        const otherSection = document.getElementsByClassName('item-section');

        for (n = 0; n < otherSection.length; n++) {
          otherSection[n].classList.remove('is-show');
          targetSection.classList.add('is-show');
        }
        const targetPosition = targetSection.getBoundingClientRect();
        const targetTop = targetPosition.top + window.pageYOffset;
        window.scrollTo({
          top: targetTop,
          behavior: 'smooth'
          }
        )
      });
    }

    // フロートボタン
    const floatButton = document.getElementById('search-float');
    floatButton.addEventListener('click', function () {
      const targetSearch = document.getElementById('search-section');
      const targetSearchPosition = targetSearch.getBoundingClientRect();
      const targetSearchTop = targetSearchPosition.top + window.pageYOffset;
      window.scrollTo({
          top: targetSearchTop,
          behavior: 'smooth'
        }
      )
    })

    // ランキングからの遷移
    const rankingButton = document.getElementsByClassName('ranking-button')
    for (i = 0; i < rankingButton.length; i++) {
      rankingButton[i].addEventListener('click', function () {
        const buttonName = this.getAttribute('name');
        const rankingItem = document.getElementById(`all-ranking-${buttonName}`)
        const targetPosition = rankingItem.getBoundingClientRect();
        const targetTop = targetPosition.top + window.pageYOffset;
        window.scrollTo({
          top: targetTop,
          behavior: 'smooth'
          }
        )
      });
    }
  };
</script>

<%- include('templates/_foot') -%>
